$color-white: #fefcfb;
$color-ua-red: #ce2751;
$color-oxford-blue: #0a1128;
$color-black-chocolate: #1e1b18;
$color-green-blue-crayola: #3e92cc;
$color-dark-blue: #2c3e50;
$color-yellow: #ecac00;
$color-light-yellow: #f0e5c2;

$primary: $color-ua-red;
// $primaryLight: 
$primaryDark:  $color-oxford-blue;

$secondary: $color-white;
$secondaryLight:$color-light-yellow;
$secondaryDark: $color-black-chocolate;

// $neutralDarker:
$neutrayDark:$color-dark-blue;
$neutral:$color-green-blue-crayola;
// $neutralLight:
// $neutralLighter: 
// $neutralLightest: