@import './const/colors.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3 {
  font-family: "Century Gothic", "Times New Roman", Times, serif;
}

h1 {
  font-size: 2.5em;
}
#app {
  font-family: Consolas, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $neutrayDark;
  background-color: $secondary;
}

.--hidden-accesibility {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.--responsive-img{
  max-width: 100%;
  height: auto;
}